body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: rgb(34, 34, 34);
    color: white;
    padding: 10px;
    gap: 10px;
}

header, main, aside, footer {
    background: rgb(212, 163, 31);
    padding: 20px;
    text-align: center;
    gap: 10px;
}

.class1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}