div,section,button {
    display: block;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    font-size: 18px;
}

div {
    background-color: #f9c74f;
}

section {
    background-color: #90be6d;
}

button {
    background-color: #577590;
    color: white;
    cursor: pointer;
}