body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1faee;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 3rem;
    margin: 20px 0;
}

button {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: #457b9d;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #1d3557;
}