p2{
    text-align: left; /*text-align_ის გამოყენებით ჩვენ შეგვიძლია ტექსტს მივუწეროთ სად გადაიტანოს მაგალითად: შუაში*/
    text-decoration:double; /*text-decoration_ის საშუალებით ჩვენ შეგვიძლია ხაზს მივცეტ დეკორაცია*/
    text-decoration-style:dotted; /*text-decoration-style_ის საშუალებით ჩვენ შეგვიძლია გავსტილოთ თუ როგორი ხაზი გაუსვას ტექსტს*/
    text-decoration-color: black; /*text-decoration-color_ის საშუალებით ჩვენ შეგვიძლია ფერი მივცეთ ტექსტის ქვეშ გასმულ ხაზს*/
    text-transform: capitalize; /*text-transform ეს მართავს ტექსტის ასოებს*/
    text-shadow: 10px;  /*text-shadow ეს არის ჩრდილი და ამის საშუალებით ჩვენ შეგვიძლია დავწეროთ რამხელა ჩრდილი უნდა ჰქონდეს*/
}

p3{
        text-align: center;
    text-decoration:line-through; 
    text-decoration-style:solid; 
    text-decoration-color: green; 
    text-transform: lowercase; 
    text-shadow: 23px;
}