* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 57, 57);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    width: 90%;
    gap: 15px;
    max-width: 1000px;
    grid-template-areas:
        "hero hero hero box3 box3"
        "hero hero hero box4 box4"
        "feature feature feature feature feature"
        "box5 box6 box7 box8 box9";
}

.box {
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    padding: 20px;
    border: 5px solid black;
    border-radius: 5px;
}

.hero {
    grid-area: hero;
    background: linear-gradient(45deg, rgb(228, 60, 228), rgb(153, 34, 237));
}

.feature {
    grid-area: feature;
    background: linear-gradient(45deg, rgb(255, 113, 255), rgb(183, 83, 255));
}

.box3 {
    grid-area: box3;
    background: linear-gradient(45deg, lightblue, lightgreen);
}

.box4 {
    grid-area: box4;
    background: linear-gradient(45deg, lightblue, rgb(95, 194, 255));
}

.box5 {
    grid-area: box5;
    background: linear-gradient(45deg, rgba(254, 144, 144, 0.813), rgba(255, 166, 0, 0.811));
}

.box6 {
    grid-area: box6;
    background: linear-gradient(45deg, rgba(254, 144, 144, 0.813), rgba(255, 166, 0, 0.811));
}

.box7 {
    grid-area: box7;
    background: linear-gradient(45deg, rgba(254, 144, 144, 0.813), rgba(255, 166, 0, 0.811));
}

.box8 {
    grid-area: box8;
    background: linear-gradient(45deg, rgba(254, 144, 144, 0.813), rgba(255, 166, 0, 0.811));
}

.box9 {
    grid-area: box9;
    background: linear-gradient(45deg, rgba(254, 144, 144, 0.813), rgba(255, 166, 0, 0.811));
}