p1{
    text-align: right;
}
p2{
    text-decoration-line: overline;
    text-decoration-style: dashed;
    text-decoration-color: blue;
}
p3{
    text-transform: capitalize;
}
h1{
    text-shadow: 20px 15px 4px gray; 
}